<div class="container">
  <div class="row">
    <div class="col">
      <p style="color: green"><%= notice %></p>

      <h1>Restaurants TOTO</h1>

      <div id="restaurants">
        <% @restaurants.each do |restaurant| %>
          <%= render restaurant %>
          <p>
            <%= link_to "Show this restaurant", restaurant %>
          </p>
        <% end %>
      </div>


      <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-outline-primary" %>

    </div>
  </div>
</div>
